<div class="service service-summary">
  {{ $thumbnail := .Params.thumbnail }}
  {{ $type_arr := split $thumbnail "." }}
  {{ $srcbase := index $type_arr 0 }}
  {{ $ext := index $type_arr 1 }}

  <div class="service-image mb-3">
    <picture>
      {{ if ne $ext "avif" }}
      <source srcset="{{ $srcbase }}.webp" type="image/webp">
      {{ end }}
      <img src="{{ $thumbnail }}" alt="{{ .Title }}">
    </picture>
  </div>

  <div class="service-content">
    <h2 class="service-title mb-2">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h2>
    {{ if gt (len .Summary) 150 }}
    {{ .Summary | truncate 150 }}
    {{ else }}
    {{ .Summary }}
    {{ end }}
  </div>
</div>
