{{ define "header_css" }}
<link rel="stylesheet" href="https://unpkg.com/nice-forms.css@0.1.7/dist/nice-forms.css" />
{{ end }}

{{ define "body_classes" }}page-pages-aboutlayout{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
{{ partial "hero-image-setheight.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "content" .)}}

{{ $headless := .Site.GetPage "/pages/pricing" }}
{{ $subpages := $headless.Resources.ByType "page" }}
{{ $subpages := sort $subpages ".Params.weight" }}
{{ range $subpages }}
<div class="strip bg-cover bg-position-top bg-overlay" style="background-image: url('{{ .Params.background | relURL }}');">
  <div class="container pt-17 pb-17">
    <div class="row">
      <div class="col-12 col-md-6 {{ if eq .Params.align "right" }}offset-md-6{{ end }}">
        <!-- Check if page language is English -->
        {{ if eq .Site.Language.Lang "en" }}
        <h2 class="text-primary text-capitalize">{{ .Title }}</h2>
        {{ else }}
        <h2 class="text-primary">{{ .Title }}</h2>
        {{ end }}
        {{ .Content }}
        {{ if .Params.button }}
          <a class="button" href="{{ .Params.buttonLink | relURL }}">{{ .Params.button }}</a>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ .Content }}

{{ end }}
