{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-work-single{{ end }}
{{ define "header_classes" }}{{ end }}

<meta property="og:title" content="{{ .Title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="{{ with .Params.image }}{{ . | absURL }}{{ end }}" />
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ else }}{{ .Title }}{{ end }}{{ end }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />

<!-- Twitter tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@{{ .Site.Params.twitter_handle }}" />
<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ else }}{{ .Title }}{{ end }}{{ end }}" />
<meta name="twitter:image" content="{{ with .Params.image }}{{ . | absURL }}{{ end }}" />

{{ define "main" }}
{{ $newsIndex := site.GetPage "/news" }}
{{ $background := .Params.heroBackground }}
{{ if not $background }}
  {{ $background = $newsIndex.Params.heroBackground }}
{{ end }}
{{ partial "hero-image-setheight.html" (dict "background" $background "heading" $newsIndex.Params.heroHeading "subheading" $newsIndex.Params.heroSubHeading "height" "250px" "section" .Section "content" .)}}
<div class="container pt-4 pt-md-10 pb-4 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
              <!-- Check if page language is English -->
              {{ if eq .Site.Language.Lang "en" }}
              <h2 class="text-primary text-capitalize">{{ .Title }}</h2>
              {{ else }}
              <h2 class="text-primary">{{ .Title }}</h2>
              {{ end }}
              {{ $imageResource := .Resources.GetMatch (.Params.image) }}
              {{ if $imageResource }}
              {{ $resizedImage := $imageResource.Resize "800x" }}
              <img src="{{ $resizedImage.Permalink }}" alt="{{ .Title }}" />
              {{ end }}
              <time datetime="{{ .Date.Format "2006-01-02" }}">
                {{i18n .Date.Month}}, {{ .Date.Day }}, {{ .Date.Year }}
            </time>
            
      <div class="work work-single">
        <div class="content">{{.Content}}</div>
      </div>
    </div>
    {{ if .Params.images }}
    <div class="col-12 pt-4 pt-md-10">
      <h2 class="mb-2 text-uppercase">Gallery</h2>
      <div class="masonry">
        {{ range .Params.images }}
          <div class="work-image item">
            <img src="{{ . | relURL }}"/>
          </div>
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}

{{ define "footer_js" }}
{{ $library := resources.Get "js/libs/library.js" }}
{{ $services := resources.Get "js/pages/services.js" }}
{{ $servicesJS := slice $library $services |resources.Concat "js/services.js" }}
{{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ $servicesJS.RelPermalink }}"></script>
  {{ else }}
  <script type="text/javascript" src="{{ ($servicesJS | minify | fingerprint).RelPermalink }}"></script>
  {{ end }}
{{ end }}