<div class="summary mb-2">
  {{ $imageResource := .Resources.GetMatch (.Params.image) }}
  {{ if $imageResource }}
  {{ $resizedImage := $imageResource.Resize "300x webp" }}
  <img class="service-image mb-3" alt="{{ .Title }}" src="{{ $resizedImage.RelPermalink }}" width="{{ $resizedImage.Width }}" height="{{ $resizedImage.Height }}" />
  {{ end }}
  <h2 class="service-title mb-3"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
  <time datetime="{{ .Date.Format "2006-01-02" }}">
    {{i18n .Date.Month}}, {{ .Date.Day }}, {{ .Date.Year }}
</time>
  <div>{{ .Summary }}</div>
</div>
