.service-summary {
//  text-align: center;
  .service-image {
    img {
      width: 100%;
      height: auto;
    }
  }
  .service-content {
    .service-title {
      font-family: $font-family-heading;
      font-size: 1.5rem;
    }
    p {
      font-size: 0.9rem;
    }
  }
}
