.service-summary {
//  text-align: center;
  padding: 0 20px!important;
  .service-image {
    img {
      width: 100%;
      height: auto;
    }
  }
  .service-content {
    .service-title {
      font-family: $font-family-heading;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.6!important;
    }
    p {
      font-size: 1rem;
    }
  }
}
