{{ define "title" }}{{ .Site.Title }}{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}header-transparent{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
<meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ end }}

{{ define "main" }}

{{ partial "hero-image-fullscreen.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "content" .)}}

{{ $headless := .Site.GetPage "/homepage" }}
{{ $reusablePages := $headless.Resources.ByType "page" }}
{{ $reusablePages := sort $reusablePages ".Params.weight" }}
{{ range first 1 $reusablePages }}
<div id="home" class="strip bg-cover bg-position-top bg-overlay" style="background-image: url('{{ .Params.background | relURL }}');">
  <div class="container pt-17 pb-17">
    <div class="row">
      <!-- Title Column -->
      <div class="col-12 col-md-6 d-flex justify-content-center align-items-center about-title">
        <!-- Check if page language is English -->
        {{ if eq .Site.Language.Lang "en" }}
        <h2 class="text-primary text-capitalize text-center">{{ .Title }}</h2>
        {{ else }}
        <h2 class="text-primary text-center">{{ .Title }}</h2>
        {{ end }}
      </div>
      
      <!-- Content Column -->
      <div class="col-12 col-md-6">
        <p>{{ .Content }}</p>
        <a class="button" href="{{ .Params.buttonLink | relURL }}">{{ .Params.button }}</a>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ $activity := where (where .Site.RegularPages "Type" "activity") ".Params.featured" true }}
{{if gt (len $activity) 0}}
<div class="bg-primary">
<div class="container pt-8 pb-8 pb-md-14 pt-md-14  text-white">
  <div class="row justify-content-start">
    <div class="col-12">
      <h2 class="text-center mb-5">{{ i18n "activity" }}</h2>
    </div>
    {{ range first 6 (sort $activity ".Params.weight") }}
    <div class="col-12 col-md-4 mb-1">
      {{ .Render "summary" }}
    </div>
    {{ end }}
    <div class="col-12 text-center">
      <a class="button button-primary" href="{{ .Site.BaseURL }}activity">{{ i18n "view activity"}}</a>
    </div>
  </div>
</div>
</div>
{{end}}

{{ range first 1 (after 1 $reusablePages) }}
<div id="home" class="strip bg-cover bg-position-top bg-overlay" style='background-image: url("{{ .Params.background | relURL }}");'>
  <div class="container pt-8 pb-8 pb-md-12 pt-md-12">
    <div class="row justify-content-start">
      <div class="col-12 col-md-8">
        <h2 class="service-title mb-3">{{ .Title }}</h2>
        {{ .Content }}
        {{ if .Params.button }}
        <a class="button button-white" href="{{ .Params.buttonLink | relURL }}">{{ .Params.button }}</a>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}

<div class="bg-primary">
{{ $news := where .Site.RegularPages "Type" "news" }}
<div class="container pt-8 pb-8 pb-md-14 pt-md-14 text-white">
  <div class="row justify-content-start text-white">
    <div class="col-12">
      <h2 class="text-center mb-5">{{ i18n "latest_news" }}</h2>
    </div>
    {{ range first 3 (sort $news "Date" "desc") }}
    <div class="col-12 col-md-4 mb-3">
      {{ .Render "summary" }}
    </div>
    {{ end }}
    <div class="col-12 text-center">
      <a class="button" href="{{ .Site.BaseURL }}news">{{ i18n "view_all_news"}}</a>
    </div>
  </div>
</div>
</div>

{{ $partners := where (where .Site.RegularPages "Type" "partners") ".Params.featured" true }}
<div class="container pt-8 pb-8 pb-md-14 pt-md-14">
  <div class="row justify-content-start">
    <div class="col-12">
      <h2 class="text-center mb-7">{{ i18n "supported" }}</h2>
    </div>
    {{ range first 2 (sort $partners ".Params.weight") }}
    <div class="col-12 col-md-4 mb-1 offset-md-2">
      {{ .Render "partners" }}
    </div>
    {{ end }}
<!--    <div class="col-12 text-center">
      <a class="button button-primary" href="{{ .Site.BaseURL }}services">View All Services</a>
    </div>-->
  </div>
</div>



{{ end }}

{{ define "footer_js" }}
{{ end }}
