{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="intro intro-small">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ .Title }}</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      {{ .Content }}
      {{ $data := index .Site.Data .Site.Language.Lang "contact" }}
      <ul>

        <ul>
          {{ if $data.phone }}
          <li><strong>{{ i18n "contactPhone" }}: </strong>{{ $data.phone }}</li>
          {{ end }}
          {{ if $data.email }}
          <li><strong>{{ i18n "contactEmail" }}: </strong><a href="mailto:{{ $data.email }}">
              {{ $data.email }}</a></li>
          {{ end }}
          {{ if $data.address }}
          <li style="white-space: pre-wrap;"><strong>{{ i18n "contactAddress" }}: </strong><br>{{ $data.address }}</li>
          {{ end }}
        </ul>
        {{ if $data.hours }}
        <h4 class="mt-4">{{ i18n "businessHours" }}</h4>
        
      <table class="table table-sm opening-hours-table">
        {{ range $data.hours }}
        <tr>
          <td class="day font-weight-bold">{{ .day }}</td>
          <td class="opens">{{ .open }}</td>
          <td>-</td>
          <td class="closes">{{ .close }}</td>
        </tr>
        {{ end }}
      </table>
      {{ end }}

      
    </div>
  </div>
</div>
{{ end }}